@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>齿轮滚刀系统</title>
</head>
<body>
    <div id="content" class="col-lg-10 col-sm-10">
        <div>
            <ul class="breadcrumb">
                <li><a href="#">主页</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="box col-md-4">
                <div class="box-inner homepage-box">
                    <div class="box-header well">
                        <h2>
                            <i class="glyphicon glyphicon-th"></i>Tabs</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog">
                            </i></a><a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up">
                            </i></a><a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove">
                            </i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#info">Info</a></li>
                            <li><a href="#custom">Custom</a></li>
                            <li><a href="#messages">Messages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
