@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>齿轮滚刀系统</title>
</head>
<body>
    <div class="col-sm-2 col-lg-2">
        <div class="sidebar-nav">
            <div>
                <ul class="nav nav-pills nav-stacked main-menu">
                    <li class="nav-header">主菜单</li>
                    <li class="active liClick"><a href="/mainForm/index"><i class="glyphicon glyphicon-home">
                    </i><span>主页</span></a> </li>
                    <li class="accordion"><a href="#"><i class="glyphicon glyphicon-plus"></i><span>系统组成
                    </span></a>
                        <ul id="ul0" class="nav nav-pills nav-stacked ulclick">
                            <li><a href="/mainForm/paraInput">参数输入</a></li>
                            <li><a href="/mainForm/modelShow">模型显示</a></li>
                            <li><a href="/mainForm/simuProc">仿真加工</a></li>
                            <li><a href="/mainForm/ncfile">生成NC文件</a></li>
                            <li><a href="/mainForm/grindProc">铲磨工艺优化</a></li>
                        </ul>
                    </li>
                    <li class="accordion"><a href="#"><i class="glyphicon glyphicon-plus"></i><span>机床管理
                    </span></a>
                        <ul id="ul1" class="nav nav-pills nav-stacked ulclick">
                            <li><a href="#">机床类型</a></li>
                            <li><a href="#">使用顺序</a></li>
                            <li><a href="#">机床参数设置</a></li>
                        </ul>
                    </li>
                    <li class="accordion"><a href="#"><i class="glyphicon glyphicon-plus"></i><span>刀具管理
                    </span></a>
                        <ul id="ul2" class="nav nav-pills nav-stacked ulclick">
                            <li><a href="#">刀具类型</a></li>
                            <li><a href="#">使用顺序</a></li>
                            <li><a href="#">刀具参数设置</a></li>
                        </ul>
                    </li>
                    <li class="accordion"><a href="#"><i class="glyphicon glyphicon-plus"></i><span>基础信息
                    </span></a>
                        <ul id="ul3" class="nav nav-pills nav-stacked ulclick">
                            <li><a href="/Member/memDetial">个人资料</a></li>
                            <li><a href="#">系统助手</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
