@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <script src="../../Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="../../Scripts/pagiation.js" type="text/javascript"></script>
</head>
<body>
    <div>
        <div class="tcdPageCode">
            页码</div>
    </div>
</body>
</html>
