@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-inner">
            <a class="navbar-brand" href="index.html" style="padding-top: 4px">
                <img alt="Logo" src="../../Content/images/logo.png" class="hidden-xs" height="40px"
                    width="200px" /></a>
            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user" style="padding-right: 5px"></i><span id="spanUser"
                        class="hidden-sm hidden-xs"></span><span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">个人信息</a></li>
                    <li class="divider"></li>
                    <li><a href="">退出登录</a></li>
                </ul>
            </div>
            <ul class="collapse navbar-collapse nav navbar-nav" style="padding-top: 8px; padding-left: 50px">
                <li>
                    <form action="">
                    <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                        type="text">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
