@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>齿轮滚刀系统</title>
</head>
<body>
    <!-- 工具条 starts -->
    @RenderPage("../mainForm/top.cshtml")
    <!-- 工具条 ends -->
    <div class="ch-container">
        <div class="row">
            <!-- 左菜单 starts -->
            @RenderPage("../mainForm/left.cshtml")
            <!-- 左菜单 ends -->
            <!-- 内容页 starts-->
            <div id="content" class="col-lg-10 col-sm-10">
                <div>
                    <ul class="breadcrumb">
                        <li><a href="#">基础信息</a></li>
                        <li><a href="#">个人资料</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2 class="h-blue">
                                    <i class="glyphicon glyphicon-edit"></i>私密档案</h2>
                                <div class="box-icon">
                                    <a href="#" id="mem_aMin" class="btn btn-minimize btn-round btn-default"><i id="mem_iMin"
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                </div>
                            </div>
                            <div id="memDiv" class="box-content" style="height: 360px; display: block">
                                <form id="memForm" action="" method="post" role="form">
                                <div class="col-lg-10 col-sm-10">
                                    <div class="form-group col-md-4">
                                        <label for="txtusername" class="blue-label">
                                            用户名</label>
                                        <input type="text" class="form-control blue-input" id="txtusername" name="txtusername"
                                            readonly="true" placeholder="用户名">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="txtpwd" class="blue-label">
                                            密码</label>
                                        <input type="password" class="form-control blue-input" id="txtpwd" name="txtpwd"
                                            placeholder="密码">
                                    </div>
                                </div>
                                <div class="col-lg-10 col-sm-10">
                                    <div class="form-group col-md-4">
                                        <label for="txtphone" class="blue-label">
                                            电话</label>
                                        <input type="text" class="form-control blue-input" id="txtphone" name="txtphone"
                                            placeholder="电话">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="txtemail" class="blue-label">
                                            邮箱</label>
                                        <input type="email" class="form-control blue-input" id="txtemail" name="txtemail"
                                            placeholder="邮箱">
                                    </div>
                                </div>
                                <div class="col-lg-10 col-sm-10">
                                    <div class="form-group col-md-8">
                                        <label for="txtcreoSetup" class="blue-label">
                                            Creo安装路径</label>
                                        <input type="text" class="form-control blue-input" id="txtcreoSetup" name="txtcreoSetup"
                                            placeholder="如：D:\creo2.0\Creo 2.0\Parametric\bin\parametric.exe">
                                    </div>
                                </div>
                                <div class="col-lg-10 col-sm-10">
                                    <div class="form-group col-md-8">
                                        <label for="txtcreoWorkSpace" class="blue-label">
                                            Creo工作目录</label>
                                        <input type="text" class="form-control blue-input" id="txtcreoWorkSpace" name="txtcreoWorkSpace"
                                            placeholder="如：D:\creo2.0Save">
                                    </div>
                                </div>
                                <div class="col-lg-10 col-sm-10">
                                    <div class="form-group col-md-7">
                                    </div>
                                    <button id="saveMem" type="submit" class="btn btn-primary">
                                        保存</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 内容页 ends -->
            <!-- 模态框 starts -->
            @RenderPage("../mainForm/modal.cshtml")
            <!-- 模态框 ends -->
        </div>
        <hr>
    </div>
</body>
</html>
