/* 登录页面 */
@media only screen and (min-width: 980px)
{
    a, button, input[type=submit], input[type=button], .product-img
    {
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

    .ch-container
    {
        padding: 0 20px;
    }
}

.row
{
    margin-left: -15px;
    margin-right: -15px;
}

div.center, p.center, img.center
{
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    display: block;
    text-align: center;
}

.login-header
{
    padding-top: 30px;
    height: 120px;
}

@media (min-width:992px)
{
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
    {
        float: left;
    }
    .col-md-12
    {
        width: 100%;
    }
    .col-md-11
    {
        width: 91.66666667%;
    }
    .col-md-10
    {
        width: 83.33333333%;
    }
    .col-md-9
    {
        width: 75%;
    }
    .col-md-8
    {
        width: 66.66666667%;
    }
    .col-md-7
    {
        width: 58.33333333%;
    }
    .col-md-6
    {
        width: 50%;
    }
    .col-md-5
    {
        width: 41.66666667%;
    }
    .col-md-4
    {
        width: 33.33333333%;
    }
    .col-md-3
    {
        width: 25%;
    }
    .col-md-2
    {
        width: 16.66666667%;
    }
    .col-md-1
    {
        width: 8.33333333%;
    }
}

.well
{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.login-box .input-prepend
{
    margin-bottom: 10px;
}

.login-box .btn
{
    margin-top: 15px;
    width: 100%;
}

.alert
{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info
{
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

fieldset
{
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

.input-group
{
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-addon:first-child
{
    border-right: 0;
}

.red
{
    color: #B94846;
}

.glyphicon
{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn
{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.remember
{
    margin-top: 3px;
}

label
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-box .btn
{
    margin-top: 15px;
    width: 100%;
}

.btn-primary
{
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    filter: none;
    border-bottom: 1px solid #178acc;
}
