
ul.dashboard-list
{
    margin: 0;
}

ul.dashboard-list li
{
    padding: 7px 0;
    list-style: none;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid white;
}

.dashboard-avatar
{
    height: 50px;
    width: 50px;
    padding: 1px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #EBEBEB;
    border-radius: 50%;
}
