@model CreoPro.Models.member
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Detail</title>
</head>
<body>
    <div>
        <ul>
            @foreach (var mem in (List<CreoPro.Models.member>)ViewData["member"])
            { 
                <li>The item is: @mem</li>
                <li>@Html.ActionLink("aa","Member")</li>
            }
        </ul>
    </div>
</body>
</html>
